@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* fonts.css */
@font-face {
  font-family: 'FingerPaint';
  src: url('./fonts/FingerPaint-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.logo {
  height: 'max-content';
  border-radius: 1.563rem;
  width: 200px;
  z-index: 9999;
}

.app-bar {
  background: #7C1E6F;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authentication-card {
  border-radius: 0.625rem;
  width: 33.75rem;
}

.authentication-form {
  display: 'flex';
  flex-direction: 'column';
}
